<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Tech T Repairs</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/static/css/techt.css" rel="stylesheet">
  </head>
  
  <style type="text/css">
    
    body{
      padding-top:40px;
    }
    
  </style>
  

  <body>
    
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- NAVBAR
================================================== -->
    <div class="container">
      <div class="navbar-wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top-right"> 
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span><!---by having this three times it will show the the icon with 3 lines when in the mini view-->
              </button>
              <a class="navbar-brand" href="/"><img src="/static/images/logo.png" alt="Tech T Repairs"></a>
  
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav"> 
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/previousrepairs">Previous Repairs</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="/contactus">Contact Us</a></li>
               <li><a href="/testimonials">Testimonials</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

<!-- Contact us section -->
<div id="contactus" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT US</h2>
      



  <div class="row">
    <div class="text-center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2466.4262026918864!2d-0.8091739537827884!3d51.81664437175656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876f7af338ad9f7%3A0xd0ed794a4366bb73!2sHigh+St%2C+Aylesbury%2C+Buckinghamshire+HP20%2C+UK!5e0!3m2!1sen!2sin!4v1458251346465" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Tech T Repairs, High Street, Aylesbury, Buckinghamshire, HP20 1SE</p>
      <p><span class="glyphicon glyphicon-phone"></span> +44 7985 233 800</p>
      <p><span class="glyphicon glyphicon-envelope"></span> techtrepairs@gmail.com</p>	   
    </div>
    <div class="col-sm-4 col-xs-12 slideanim">
        
        
<!-- Contact Us Form -->
         
         <form id="contactusform" class="form-horizontal" action="" method="post" ><fieldset> 
           
         <!--Name form--> 
         <div class="form-group"> 
         <label class="col-md-6 control-label" for="name">Name:</label>    
         <div class="col-md-6"> 
         <input id='name' name="name" type="text" placeholder="Enter your Name" class="form-control input-md">
         </div> 
          </div> 
          <!-- Email address form-->
          <div class="form-group"> 
          <label class="col-md-6 control-label" for="email">E-mail</label>     
          <div class="col-md-6"> 
          <input id="email" name="email" type="text" placeholder="Enter your e-mail here" class="form-control input-md">
          </div>
           </div>
           
            <!--Contact Num-->
          <div class="form-group"> 
          <label class="col-md-6 control-label" for="contactnum">Contact Number</label>     
          <div class="col-md-6"> 
          <input id="contactnum" name="contactnum" type="text" placeholder="Contact Number" class="form-control input-md">
          </div>
           </div>
                     
          <!--Message box  -->
          <div class="text-center">
          <textarea rows="20" cols="200" name="message" id="message" placeholder="Enter your message here"></textarea>
          
          <!-- Submit button --> 
          <div class="form-group"> <label class="col-md-6 control-label" for="email"></label>
          <div class="col-md-6">
               <button id="submitbtn" name="submitbtn" class="btn btn-default">Submit</button> 
          </div> 
        </div> 
        </fieldset> 
        </form> 
        <a href="showdb.php"></a> 
           </body>
    </div>
    </div>

        
    
        </div>
      </div>	
    </div>
  </div>
</div>
</div>









      <!-- FOOTER -->
      <footer class="container-fluid text-center">
      <a href="#" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
      </a>
      <p>Tech T Repairs &copy; 2016</a></p>	
      <!-- Facebook like and share buttons -->
      <div class="fb-follow" data-href="https://www.facebook.com/techtaylesbury" data-layout="standard" data-show-faces="true"></div>
      <div class="fb-share-button" data-href="https://facebook.com/techtaylesbury" data-layout="button_count" data-mobile-iframe="true"></div>
      <!-- Instagram page link -->
      <style>.ig-b- { display: inline-block; }
      .ig-b- img { visibility: hidden; }
      .ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
      .ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }</style>
      <a href="https://www.instagram.com/techtrepairs/?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
      </footer>


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/static/js/contactus.js"></script>
  </body>
</html>

    
